BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
BreakBeforeBraces: Attach
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
