build/
cmake-build-*/
.idea/
.vscode/
.cache/
compile_commands.json
output/*
!output/.gitkeep
!output/plot_results.py
*.o
*.obj
*.a
*.so
*.dylib
*.dll
.DS_Store
**/.DS_Store
__pycache__/
*.pyc
venv/
.venv/
